* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* index.html */
.title {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.recipe-list {
  list-style: none;
  text-align: center;
  font-size: 24px;
}

.recipe {
  margin-bottom: 20px;
}

.recipe > a {
  color: black;
  text-decoration-color: white;
  text-underline-offset: 0;
  text-decoration-thickness: 0;
  transition: 150ms ease-in-out;
}

.recipe > a:hover {
  text-decoration-color: black;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}


/* Recipe Layouts */
.recipe-title {
  text-align: center;
}

img {
  display: block;
  width: 500px;
  margin: 10px auto;
}

.desc-title, ul, p, ol{
  margin-left: 10px;
}
